<h1>Welcome to your to-do list:</h1>
<ul>
<% @tasks.each do |task| %>
<li><%= task.title %><%= link_to 'View', task_path(task.id) %><input type='checkbox' <%= task.completed ? "checked" : "" %>></li>
<% end %>
<%= link_to 'Add new', tasks_new_path %>
</ul>
